<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body> 
	<form action="saveLoc" method="post">  
	<pre>
	Id   : <input type="text" name="id"/> 
	Name : <input type="text" name="name"/>  
	Code : <input type="text" name="code"/> 
	Type:  Urban <input type="radio" name="type" value="URBAN"/> 
	       Rural <input type="radio" name="type" value="RURAL"/> 
	 <input type="submit" value="save">
	</pre>
	</form> 
	<b th:text="${msg}"></b>
	<a href="displayLocations">View All</a>

</body>
</html>